<div class="container-fluid">
    <div class="row">
        <form>
            <div class="col-12">
                <div>
                    <div>Email</div>
                    <input>
                </div>
            </div>
            <div class="col-12">
                <div>
                    <div>
                        <div>Password</div>
                        <input matInput>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button mat-raised-button color="primary">Primary</button>
            </div>
        </form>
    </div>
</div>