<div class="container">
  <form #userForm="ngForm">
    {{ userForm.value | json }}
    <div class="form-group">
      <label>Name</label>
      {{ name.invalid }}
      <input
       required
        type="text"
        class="form-control"
        #name="ngModel"
        [(ngModel)]="userFormfdf.name"
        name="name"
        [class.is-invalid]="name.invalid && name.touched"
      />
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required </small>
    </div>
    <div class="form-group">
      <label>Age</label>
      <input
       required
        type="text"
        class="form-control"
        [(ngModel)]="userFormfdf.age"
        name="age"
        #age="ngModel"
        [class.is-invalid]="age.invalid && age.touched"
      />
      <small class="text-danger" [class.d-none]="age.valid || age.untouched">age is required </small>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        required
        type="text"
        class="form-control"
        [(ngModel)]="userFormfdf.email"
        name="email"
        #email="ngModel"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [class.is-invalid]="email.invalid && email.touched"
      />
      <!-- {{email.errors | json}} -->
      <div *ngIf="email.errors">
        <small class="text-danger" *ngIf="email.errors['required']">email is required </small>
        <small class="text-danger" *ngIf="email.errors['pattern']">email is not valid format</small>
      </div>
      
    </div>
    <div class="form-group">
      <label>PhoneNumber</label>
      <input
        required
        type="text"
        class="form-control"
        [(ngModel)]="userFormfdf.phoneNumber"
        name="PhoneNumber"
        #PhoneNumber="ngModel"
        [class.is-invalid]="PhoneNumber.invalid && PhoneNumber.touched"
      />
      <small class="text-danger" [class.d-none]="PhoneNumber.valid || PhoneNumber.untouched">Phone Number is required </small>
    </div>
    <button type="submit" (click)="btnSubmit(userForm)" class="btn btn-primary" [disabled]="userForm.form.invalid">
      Submit
    </button>
  </form>
</div>
